*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    font-family: "Gilory";
}
    
html, body{
    height:100%;
    width:100%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue ;
}

#card{
    height: 400px;
    width:320px;
    background-color: #fff;
    border-radius: 20px;
    padding:30px;
    text-align: center;
}

#card img{
    height: 50%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}